{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
    <section class="section-padding section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                    <img src="{% static 'images/group.jpg' %}" class="custom-text-box-image img-fluid" alt="">
                </div>

                <div class="col-lg-6 col-12">
                    <div class="custom-text-box">
                        <h2 class="mb-2">Our Story</h2>

                        <h5 class="mb-3">Global Tibetan Student Union - Empowering Youth Through Unity</h5>

                        <p class="mb-0">The history of human civilization has proved that unity is power. We, Tibetan students, have come together under the umbrella of Global Tibetan Student Union (GTSU) - built on three pillars of unity, education, and motivation among youths and humanity at large.</p>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="custom-text-box mb-lg-0">
                                <h5 class="mb-3">Our Mission</h5>

                                <p>Unite, educate, and motivate Tibetan students worldwide through peer support and guidance</p>

                                <ul class="custom-list mt-2">
                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Educational Guidance
                                    </li>

                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Career Counseling
                                    </li>

                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Community Building
                                    </li>

                                    <li class="custom-list-item d-flex">
                                        <i class="bi-check custom-text-box-icon me-2"></i>
                                        Youth Empowerment
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                                <div class="counter-thumb"> 
                                    <div class="d-flex">
                                        <span class="counter-number" data-from="1" data-to="2016" data-speed="1000"></span>
                                        <span class="counter-number-text"></span>
                                    </div>

                                    <span class="counter-text">Founded</span>
                                </div> 

                                <div class="counter-thumb mt-4"> 
                                    <div class="d-flex">
                                        <span class="counter-number" data-from="1" data-to="10000" data-speed="1000">+</span>
                                        <span class="counter-number-text">+</span>
                                    </div>

                                    <span class="counter-text">Students Helped</span>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-12">
                    <img src="{% static 'images/portrait-volunteer-who-organized-donations-charity.jpg' %}" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                </div>

                <div class="col-lg-5 col-md-7 col-12">
                    <div class="custom-text-block">
                        <h2 class="mb-0">Our Beginning</h2>

                        <p class="text-muted mb-lg-4 mb-md-4">Founded July 6, 2016</p>

                        <p>GTSU was initially known as "Let Open The Door To The College" - a voluntary initiative by college students helping +2 graduates from Tibetan schools across India navigate their academic journey.</p>

                        <p>We mark July 6th as our founding day, a birthday gift and deep gratitude to His Holiness the 14th Dalai Lama on his 81st birthday, honoring his tireless work for Tibet and world peace. This symbolizes our commitment as youth to take responsibility for our community and humanity.</p>

                        <p>GTSU is not here to compete, but to provide sincere voluntary services to students in need and cooperate with all who work for education and the betterment of humanity.</p>

                        <ul class="social-icon mt-4">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
