{% extends 'base.html' %}
{% load static %}

{% block title %}Volunteer{% endblock %}

{% block content %}
<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                <div class="contact-info-wrap">
                    <h2>Get in touch</h2>

                    <div class="contact-image-wrap d-flex flex-wrap">
                        <img src="{% static 'images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg' %}" class="img-fluid avatar-image" alt="">

                        <div class="d-flex flex-column justify-content-center ms-3">
                            <p class="mb-0">Volunteer Coordinator</p>
                            <p class="mb-0"><strong>Community Outreach</strong></p>
                        </div>
                    </div>

                    <div class="contact-info">
                        <h5 class="mb-3">Contact Information</h5>

                        <p class="d-flex mb-2">
                            <i class="bi-geo-alt me-2"></i>
                            Akershusstranda 20, 0150 Oslo, Norway
                        </p>

                        <p class="d-flex mb-2">
                            <i class="bi-telephone me-2"></i>
                            <a href="tel: 120-240-9600">120-240-9600</a>
                        </p>

                        <p class="d-flex">
                            <i class="bi-envelope me-2"></i>
                            <a href="mailto:volunteer@charity.org">volunteer@charity.org</a>
                        </p>

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 mx-auto">
                <form class="custom-form volunteer-form" action="/volunteer/" method="post" role="form">
                    {% csrf_token %}
                    <h2>Volunteer form</h2>

                    <p class="mb-4">Or, you can just send an email:
                        <a href="mailto:volunteer@charity.org">volunteer@charity.org</a>
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <input type="text" name="name" id="volunteer-name" class="form-control" placeholder="Your Name" required>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <input type="email" name="email" id="volunteer-email" class="form-control" placeholder="Enter Your Email" required>
                        </div>
                    </div>

                    <input type="text" name="subject" id="volunteer-subject" class="form-control" placeholder="Subject" required>

                    <input type="text" name="college_name" id="college-name" class="form-control" placeholder="College/Company Name" required>

                    <input type="text" name="preprofessional" id="preprofessional" class="form-control" placeholder="Preprofessional" required>

                    <textarea name="message" rows="3" class="form-control" id="volunteer-message" placeholder="Comment (Optional)"></textarea>

                    <input type="submit" class="form-control" value="Submit Application" style="background: #5a6f80;color: white;">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}