{% extends 'base.html' %}
{% load static %}

{% block title %}Volunteer{% endblock %}

{% block content %}
<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                <div class="contact-info-wrap">
                    <h2>Join Our Community</h2>

                    <div class="contact-image-wrap d-flex flex-wrap">
                        <img src="{% static 'images/smiling-casual-woman-dressed-volunteer-t-shirt-with-badge.jpg' %}" class="img-fluid avatar-image" alt="">

                        <div class="d-flex flex-column justify-content-center ms-3">
                            <p class="mb-0">GTSU Team</p>
                            <p class="mb-0"><strong>Student Support</strong></p>
                        </div>
                    </div>

                    <div class="contact-info">
                        <h5 class="mb-3">Why Join GTSU?</h5>

                        <p class="mb-3">
                            <i class="bi-check-circle me-2"></i>
                            Connect with Tibetan students globally
                        </p>

                        <p class="mb-3">
                            <i class="bi-check-circle me-2"></i>
                            Share your academic experience
                        </p>

                        <p class="mb-3">
                            <i class="bi-check-circle me-2"></i>
                            Guide juniors in their journey
                        </p>

                        <p class="d-flex">
                            <i class="bi-envelope me-2"></i>
                            <a href="mailto:gtsu2016@gmail.com">gtsu2016@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 mx-auto">
                <form class="custom-form volunteer-form" action="/volunteer/" method="post" role="form">
                    {% csrf_token %}
                    <h2>Join GTSU Team</h2>

                    <p class="mb-4">Be part of our mission to empower students through unity, education, and motivation. Share your story and help others succeed.
                    </p>
                    
                    <p class="mb-4">Or email us at:
                        <a href="mailto:gtsu2016@gmail.com">gtsu2016@gmail.com</a>
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <input type="text" name="name" id="volunteer-name" class="form-control" placeholder="Your Name" required>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <input type="email" name="email" id="volunteer-email" class="form-control" placeholder="Enter Your Email" required>
                        </div>
                    </div>

                    <input type="text" name="subject" id="volunteer-subject" class="form-control" placeholder="Subject" required>

                    <input type="text" name="college_name" id="college-name" class="form-control" placeholder="College/Company Name" required>

                    <input type="text" name="preprofessional" id="preprofessional" class="form-control" placeholder="Preprofessional" required>

                    <textarea name="message" rows="3" class="form-control" id="volunteer-message" placeholder="Comment (Optional)"></textarea>

                    <input type="submit" class="form-control" value="Submit Application" style="background: #5a6f80;color: white;">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
